[client]
port  = 3306
socket  = /usr/local/mysql/data/mysql.sock
[mysqld]
port  = 3306
socket  = /usr/local/mysql/data/mysql.sock
pid-file = /usr/local/mysql/data/mysql.pid
datadir  = /usr/local/mysql/data
event_scheduler = on
expire_logs_days = 20
skip-name-resolve
wait_timeout = 28800
query_cache_type = 0
innodb_file_per_table = 1
innodb_file_format = barracuda
innodb_strict_mode = 1
log-error = mysql_run.err
relay-log = relay-bin
skip-slave-start
back_log = 350
max_connections = 5000
max_connect_errors = 500
table_open_cache = 2048
max_allowed_packet = 1024M
binlog_cache_size = 16M
max_heap_table_size = 64M
read_buffer_size = 8M
read_rnd_buffer_size = 16M
sort_buffer_size = 8M
join_buffer_size = 16M
thread_cache_size = 64
thread_concurrency = 16
query_cache_size = 512M
query_cache_limit = 4M
ft_min_word_len = 4
default-storage-engine = innodb
thread_stack = 256K
transaction_isolation = REPEATABLE-READ
tmp_table_size = 256M
log-bin=mysql-bin
binlog_format=mixed
log_slave_updates
binlog-ignore-db=mysql
binlog-ignore-db=information_schema
binlog-ignore-db=test
slave-skip-errors = 1062,1032,1060,1146,22
slow_query_log
slow_query_log_file = mysql-slow.log
long_query_time = 3
server-id = 7623
key_buffer_size = 128M
bulk_insert_buffer_size = 64M
myisam_sort_buffer_size = 64M
myisam_max_sort_file_size = 512M
myisam_repair_threads = 1
myisam_recover
innodb_additional_mem_pool_size = 32M
innodb_buffer_pool_size = 4G
lower_case_table_names=1
innodb_data_file_path = ibdata1:10M:autoextend
innodb_data_home_dir = /usr/local/mysql/data
innodb_write_io_threads = 2
innodb_read_io_threads = 2
innodb_thread_concurrency = 4
innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size = 32M
innodb_log_file_size = 256M
innodb_log_files_in_group = 5
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 120
[mysqldump]
quick
max_allowed_packet = 1024M
[mysql]
no-auto-rehash
prompt=\\u@\\d \\r:\\m:\\s>
[myisamchk]
key_buffer_size = 512M
sort_buffer_size = 512M
read_buffer = 8M
write_buffer = 8M
[mysqlhotcopy]
interactive-timeout
[mysqld_safe]
open-files-limit = 65536
